### .gitignore File
### Updated 2025/07

# ----- Python Files -----
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# ----- Environment -----
.env/
.venv/
venv/
env/
ENV/

# ----- IDE Configs -----
# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ----- OS & cmd -----
*.gitattributes
*.exe
*.bat
*.sh
# macOS
.DS_Store
._*
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# Linux
*~

# ----- Logs -----
*.log
*.out
*.txt
*.csv
*.json

# ----- Online -----
server/

### Specific ###
# ----- Images -----
*.jpg
*.jpeg
*.rar
*.zip

# ----- Other Files -----
convnext.py
_getPhoto.py
_train2.py

# ----- Old & test ----- #
Ver0/
Ver1/

### Not Ignore ###
!species_list.csv